* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    height: 80px;
}

.logo{
    font-size: 20px;
}

.isi-navbar {
    display: flex;
}

nav {
    display:flex;
    justify-content:space-around;
    align-items:center;
    border:2px solid black;
    height: 80px;
}